.countdown-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #F5F3F3;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.event-title {
  color: #72035D;
  font-size: 67px;
  margin: 0 0 3px 0;
  font-weight: 800;
  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.countdown-text {
  color: #000;
  font-size: 74px;
  font-weight: 400;
  margin: 0;
}

.inputs-row {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin-bottom: 1rem;
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
  }

  label {
    position: absolute;
    font-size: 14px;
    margin-left: 12px;
    z-index: 99999;
    background-color: #F5F3F3;
    top: -9px;
    padding-left: 6px;
    padding-right: 6px;
  }

  input {
    height: 54px;
    border: 1px solid #757575;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 14px;
    background-color: #F5F3F3;
    &[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }
}
