<div class="countdown-container">
  <h2 class="event-title">
    Time to {{ eventTitle }}
  </h2>

  <h1 class="countdown-text">
    {{ remainingTime }}
  </h1>

  <div class="inputs-row">
    <div class="input-field">
      <label>Title</label>
      <input [(ngModel)]="eventTitle" (ngModelChange)="saveLocalStorage()" type="text" />
    </div>
    <div class="input-field">
      <label>Date</label>
      <input [(ngModel)]="eventDate" (ngModelChange)="saveLocalStorage()" type="date" />
    </div>
  </div>
</div>
